### 1. EOD Historical Data

Particulalry useful for:
1. **Backtesting:** Test trading strategies on historical daily data
2. **Fundamental analysis:** Combine with earnings dates, dividends
3. **Long-term trend analysis:** Moving averages, support/resistance
4. **Portfolio tracking:** Daily P&L calculations, NAV updates
5. **Risk metrics:** Calculate daily returns, volatility, drawdowns
6. **Machine learning:** Feature engineering for daily prediction models
7. **Research:** Academic studies, factor analysis, market studies

In [7]:
## 1. End-of-Day (EOD) Historical Data
import pandas as pd
pd.set_option('display.float_format', '{:.2f}'.format)

from assets.api_utils.historical_data import (fetch_eod_data_requests,
                             fetch_eod_data_sdk)

# ====================================================== #
# EXAMPLE 1A: HISTORICAL DATA WITH REQUESTS
df_eod_requests = fetch_eod_data_requests(
    symbol="LUNR",
    exchange="US",
    # when date range is not passed, max available data is returned
    # from_date="2025-01-01",
    # to_date="2026-01-27",  
    period="d",
    order="a"
)

print("===============================")
print("EOD Data via Requests Library:")
print(f"Shape: {df_eod_requests.shape}")

# ====================================================== #
# EXAMPLE 1B: HISTORICAL DATA WITH SDK
df_eod_sdk = fetch_eod_data_sdk(
    symbol="LUNR",
    exchange="US",
    from_date="2025-01-01",
    to_date="2026-01-31",
    period="d",
    order="a"
)

print("===============================")
print("EOD Data via EODHD SDK:")
print(f"Shape: {df_eod_sdk.shape}")

# df_eod_requests.tail(5)
# df_eod_sdk.tail(5)
display(df_eod_requests, df_eod_sdk)

===============================
EOD Data via Requests Library:
Shape: (1059, 6)
===============================
EOD Data via EODHD SDK:
Shape: (270, 6)

            open  high   low  close  adjusted_close    volume
date
2021-11-17  9.65  9.65  9.65   9.65            9.65      1000
2021-11-18  9.67  9.67  9.67   9.67            9.67       200
2021-11-19  9.67  9.69  9.65   9.66            9.66     82100
2021-11-22  9.66  9.69  9.66   9.67            9.67     25000
2021-11-23  9.66  9.66  9.65   9.66            9.66     86000
...          ...   ...   ...    ...             ...       ...
2026-02-02 18.89 19.27 17.61  17.84           17.84   7493339
2026-02-03 18.67 19.62 17.73  19.61           19.61   7779311
2026-02-04 19.38 19.50 15.75  16.61           16.61  11809760
2026-02-05 15.97 16.27 14.54  14.79           14.79  11187750
2026-02-06 15.59 17.59 15.23  17.52           17.52   9892966

[1059 rows x 6 columns]

            open  high   low  close  adjusted_close    volume
date
2025-01-02 18.31 21.00 17.71  19.32           19.32  27752500
2025-01-03 19.45 22.12 19.16  21.89           21.89  22211240
2025-01-06 22.12 22.32 20.96  21.76           21.76  15032530
2025-01-07 21.79 22.29 19.65  19.87           19.87  14426950
2025-01-08 19.20 19.68 17.87  18.79           18.79  13434050
...          ...   ...   ...    ...             ...       ...
2026-01-26 19.76 19.77 18.08  18.42           18.42   8918343
2026-01-27 18.57 20.54 18.46  20.29           20.29   7980237
2026-01-28 20.66 23.32 20.42  22.81           22.81  16888770
2026-01-29 22.70 23.30 20.57  20.99           20.99  11534740
2026-01-30 20.43 21.61 18.50  18.99           18.99  10839820

[270 rows x 6 columns]

### 2. Intraday Historical Data 
Particulalry useful for:
1. **Intraday backtesting:** Test day trading, scalping strategies
2. **Pattern recognition:** Identify intraday patterns (opening range, etc.)
3. **VWAP/TWAP calculations:** Volume-weighted analysis
4. **Pre/post-market analysis:** Extended hours price action
5. **Volatility studies:** Intraday vol patterns, time-of-day effects
6. **Order flow analysis:** Volume profile, accumulation/distribution
7. **ML features:** Build intraday predictive models
8. **Strategy optimization:** Fine-tune entry/exit timing

In [5]:
pd.set_option('display.float_format', '{:.2f}'.format)
from assets.api_utils.intraday_historical_data import (fetch_intraday_data_requests,
                                                       fetch_intraday_data_sdk)

# ====================================================== #
# EXAMPLE 2A: INTRADAY-HISTORICAL DATA WITH REQUESTS
df_intraday_requests = fetch_intraday_data_requests(
    symbol="LUNR",
    exchange="US",
    interval="5m",
)
# print("===============================")
# print("Intraday Data via Requests Library:")
# print(f"Shape: {df_intraday_requests.shape}")

# # ====================================================== #
# # EXAMPLE 2B: INTRADAY-HISTORICAL DATA WITH SDK
df_intraday_sdk = fetch_intraday_data_sdk(
    symbol="LUNR",
    exchange="US",
    interval="5m",
)
print("===============================")
print("Intraday Data via EODHD SDK:")
print(f"Shape: {df_intraday_sdk.shape}")

# df_intraday_requests.tail(5)
df_intraday_sdk.tail(5)
# display(df_intraday_requests, df_intraday_sdk)

===============================
Intraday Data via EODHD SDK:
Shape: (395, 7)

                      timestamp  gmtoffset  open  high   low  close    volume
datetime
2026-02-06 20:40:00  1770410400          0 17.39 17.45 17.38  17.43  76146.00
2026-02-06 20:45:00  1770410700          0 17.43 17.54 17.43  17.47 100395.00
2026-02-06 20:50:00  1770411000          0 17.47 17.59 17.46  17.57 133680.00
2026-02-06 20:55:00  1770411300          0 17.57 17.58 17.50  17.50 288473.00
2026-02-06 21:00:00  1770411600          0 17.52 17.52 17.52  17.52       NaN

In [4]:
# 3. Live (Delayed) Data
# WHY USE DELAYED DATA INSTEAD OF WEBSOCKETS?
# --------------------------------------------
# 1. Cost-effective: Lower API usage, cheaper for batch monitoring
# 2. Simpler: No async/threading complexity for basic dashboards
# 3. Sufficient: 15-20 min delay is fine for EOD summaries, portfolio snapshots
# 4. Batch-friendly: Fetch multiple symbols in one request
# 5. Use WebSockets only when you need sub-second, real-time updates

In [6]:
import json
from assets.api_utils.intraday_live_delayed_data import fetch_live_price_requests, fetch_live_price_sdk
from assets.api_utils.auxiliary_methods import to_live_df

# ====================================================== #
# EXAMPLE 3A: LIVE PRICES WITH REQUESTS (SINGLE TICKER)
live_single_req = fetch_live_price_requests(symbol="LUNR", exchange="US")

print("===============================")
print("Live Price via Requests (Single):")
print(json.dumps(live_single_req, indent=2))

# ====================================================== #
# EXAMPLE 3A: LIVE PRICES WITH REQUESTS (MULTIPLE TICKERS)
live_multi_req = fetch_live_price_requests(
    symbol="LUNR",
    exchange="US",
    additional_symbols=["NVDA.US", "MU.US", "PLTR.US"]
)
print("===============================")
print("Live Prices via Requests (Multiple):")
print(json.dumps(live_multi_req[:2], indent=2))

# ====================================================== #
# EXAMPLE 3B: LIVE PRICES WITH SDK (SINGLE TICKER)
live_single_sdk = fetch_live_price_sdk(symbol="LUNR", exchange="US")
print("===============================")
print("Live Price via SDK (Single):")
print(json.dumps(live_single_sdk, indent=2))

# ====================================================== #
# EXAMPLE 3B: LIVE PRICES WITH SDK (MULTIPLE TICKERS)
live_multi_sdk = fetch_live_price_sdk(
    symbol="LUNR",
    exchange="US",
    additional_symbols=["NVDA.US", "MU.US", "PLTR.US"]
)
print("===============================")
print("Live Prices via SDK (Multiple):")
print(json.dumps(live_multi_sdk[:2], indent=2))

# ====================================================== #
# EXAMPLE 3C: CONVERT TO DATAFRAME WITH to_live_df()
df_live = to_live_df(live_multi_sdk, tz="America/New_York")
print("===============================")
print("Live Prices as DataFrame:")
# print(df_live.to_string(index=False))
display(df_live)

===============================
Live Price via Requests (Single):
{
  "code": "LUNR.US",
  "timestamp": 1770413280,
  "gmtoffset": 0,
  "open": 15.59,
  "high": 17.59,
  "low": 15.235,
  "close": 17.52,
  "volume": 9775188,
  "previousClose": 14.79,
  "change": 2.73,
  "change_p": 18.4584
}
===============================
Live Prices via Requests (Multiple):
[
  {
    "code": "LUNR.US",
    "timestamp": 1770413280,
    "gmtoffset": 0,
    "open": 15.59,
    "high": 17.59,
    "low": 15.235,
    "close": 17.52,
    "volume": 9775188,
    "previousClose": 14.79,
    "change": 2.73,
    "change_p": 18.4584
  },
  {
    "code": "NVDA.US",
    "timestamp": 1770413340,
    "gmtoffset": 0,
    "open": 176.69,
    "high": 187,
    "low": 174.6,
    "close": 185.41,
    "volume": 229078192,
    "previousClose": 171.88,
    "change": 13.53,
    "change_p": 7.8718
  }
]
===============================
Live Price via SDK (Single):
{
  "code": "LUNR.US",
  "timestamp": 1770413280,
  "gmtoffset": 0,
  "open": 15.59,
  "high": 17.59,
  "low": 15.235,
  "close": 17.52,
  "volume": 9775188,
  "previousClose": 14.79,
  "change": 2.73,
  "change_p": 18.4584
}
===============================
Live Prices via SDK (Multiple):
[
  {
    "code": "LUNR.US",
    "timestamp": 1770413280,
    "gmtoffset": 0,
    "open": 15.59,
    "high": 17.59,
    "low": 15.235,
    "close": 17.52,
    "volume": 9775188,
    "previousClose": 14.79,
    "change": 2.73,
    "change_p": 18.4584
  },
  {
    "code": "NVDA.US",
    "timestamp": 1770413340,
    "gmtoffset": 0,
    "open": 176.69,
    "high": 187,
    "low": 174.6,
    "close": 185.41,
    "volume": 229078192,
    "previousClose": 171.88,
    "change": 13.53,
    "change_p": 7.8718
  }
]
===============================
Live Prices as DataFrame:

,code,datetime_str,datetime,timestamp,open,high,low,close,volume,previousClose,change,change_p
0,LUNR.US,2026-02-06 16:28:00 EST,2026-02-06 16:28:00-05:00,1770413280,15.59,17.59,15.23,17.52,9775188,14.79,2.73,18.46
1,NVDA.US,2026-02-06 16:29:00 EST,2026-02-06 16:29:00-05:00,1770413340,176.69,187.00,174.60,185.41,229078192,171.88,13.53,7.87
2,MU.US,2026-02-06 16:29:00 EST,2026-02-06 16:29:00-05:00,1770413340,377.96,396.65,372.87,394.69,36998663,382.89,11.80,3.08
3,PLTR.US,2026-02-06 16:29:00 EST,2026-02-06 16:29:00-05:00,1770413340,135.33,137.69,132.35,135.90,62046516,130.01,5.89,4.53

In [ ]:
# =============================================================================
# 4. WebSocket Real-Time Data - Using websockets Library (Async)
# =============================================================================
#
# WHAT DATA IS RETURNED?
# ----------------------
# WebSockets provide TRUE REAL-TIME streaming data with <50ms latency.
# Unlike EOD/Intraday (historical) or Live Prices (snapshot), this is a
# CONTINUOUS STREAM of every trade or quote as it happens.
#
# Crypto WebSocket Schema (wss://ws.eodhistoricaldata.com/ws/crypto):
#   - s: Pair (e.g., "BTC-USD")
#   - p: Last trade price, q: Quantity
#   - dc: Daily change %, dd: Daily diff
#   - t: Timestamp (milliseconds)
#
# WEBSOCKETS vs DELAYED LIVE DATA:
# - WebSockets: True real-time (<50ms), streaming, requires async code
# - Live API: 15-20 min delay, snapshot, simple HTTP request

# ORIGINAL:
# WebSockets provide true real-time streaming data with <50ms latency. This is ideal for:
# - Real-time dashboards
# - Trading signals
# - Market-making tools
# - Live price monitoring

# **Subscribe/Unsubscribe Commands:**
# ```json
# {"action": "subscribe", "symbols": "AAPL,TSLA"}
# {"action": "unsubscribe", "symbols": "AAPL"}
# ```

# **Response Schemas:**
# - **US Trades:** `{s, p, v, c, dp, ms, t}` - symbol, price, volume, condition, dark pool, market status, 
# timestamp
# - **US Quotes:** `{s, ap, as, bp, bs, t}` - symbol, ask price/size, bid price/size, timestamp
# - **Forex:** `{s, a, b, dc, dd, t}` - symbol, ask, bid, daily change %, daily diff, timestamp
# - **Crypto:** `{s, p, q, dc, dd, t}` - symbol, price, quantity, daily change %, daily diff, timestamp

In [1]:
import asyncio
from assets.api_utils.real_time_data import stream_live_data, stream_live_data_sdk

# =========================================== #
# EXAMPLE 4A: STREAMING DATA WITH WEBSOCKETS (Pure websockets library)
live_data_df = asyncio.run(stream_live_data(["BTC-USD", "ETH-USD"], duration=10, sample_interval=1))

# =========================================== #
# EXAMPLE 4B: STREAMING DATA WITH SDK (WebSocketClient)
live_data_sdk_df = stream_live_data_sdk(["BTC-USD", "ETH-USD"], duration=10)

display(live_data_df.tail())
display(live_data_sdk_df.tail())

Streaming Completed: 20 prices over 10s

     symbol          price   timestamp_ms             datetime
15  ETH-USD  2406.31000000  1769934215792  2026-02-01 08:23:35
16  BTC-USD 78429.35000000  1769934216804  2026-02-01 08:23:36
17  ETH-USD  2406.27000000  1769934216713  2026-02-01 08:23:36
18  BTC-USD 78460.23000000  1769934217743  2026-02-01 08:23:37
19  ETH-USD  2406.96000000  1769934217852  2026-02-01 08:23:37

     symbol          price   timestamp_ms             datetime
15  ETH-USD  2409.39000000  1769934226127  2026-02-01 08:23:46
16  BTC-USD 78474.54000000  1769934227007  2026-02-01 08:23:47
17  ETH-USD  2409.38000000  1769934227009  2026-02-01 08:23:47
18  BTC-USD 78471.83000000  1769934228120  2026-02-01 08:23:48
19  ETH-USD  2409.76000000  1769934228009  2026-02-01 08:23:48

In [ ]:
import json
import time
from assets.api_utils.eod_api_client import EODHDDataClient
from assets.credentials.api import EODHD_API_TOKEN

# =============================================================================
# 5. Central EODHDDataClient Class
# =============================================================================
# This unified client wraps all standalone functions into a single interface.
# Methods mirror the standalone functions but with a consistent API.

client = EODHDDataClient(api_token=EODHD_API_TOKEN, default_exchange="US")

# ====================================================== #
# EXAMPLE 5A: EOD HISTORICAL DATA
df_eod = client.get_eod(
    symbol="LUNR",
    from_date="2025-01-01",
    to_date="2026-01-31"
)
print("===============================")
print("1. EOD Data via EODHDDataClient:")
print(f"Shape: {df_eod.shape}")
display(df_eod.tail())

# ====================================================== #
# EXAMPLE 5B: INTRADAY DATA (5-MINUTE BARS)
df_intraday = client.get_intraday(
    symbol="LUNR",
    interval="5m",
    days_back=5
)
print("===============================")
print("2. Intraday Data via EODHDDataClient:")
print(f"Shape: {df_intraday.shape}")
display(df_intraday.tail())

# ====================================================== #
# EXAMPLE 5C V1: LIVE (DELAYED) PRICES - SINGLE TICKER
live_single = client.get_live_delayed(symbols="LUNR")
print("===============================")
print("3.a. Live Price via EODHDDataClient (Single Ticker):")
print(json.dumps(live_single, indent=2))

# ====================================================== #
# EXAMPLE 5C V2: LIVE (DELAYED) PRICES - MULTIPLE TICKERS
live_multi = client.get_live_delayed(symbols=["LUNR", "NVDA.US", "MU.US", "PLTR.US"])
print("===============================")
print("3.b. Live Prices via EODHDDataClient (Multiple Tickers):")
print(json.dumps(live_multi[:2], indent=2))

# ====================================================== #
# EXAMPLE 5D: WEBSOCKET REAL-TIME STREAMING (CRYPTO)
ws_client = client.get_stream(
    endpoint="crypto",
    symbols=["BTC-USD", "ETH-USD"]
)
ws_client.start()
time.sleep(10)
data = ws_client.get_data()
ws_client.stop()

print("===============================")
print("4. WebSocket Streaming via EODHDDataClient:")
print(f"Collected {len(data)} messages over 10 seconds")
print(json.dumps(data[:3], indent=2) if data else "No data received")

===============================
1. EOD Data via EODHDDataClient:
Shape: (270, 6)

,open,high,low,close,adjusted_close,volume
date,,,,,,
2026-01-26,19.76000000,19.77000000,18.08000000,18.42000000,18.42000000,8918343
2026-01-27,18.57000000,20.54000000,18.46000000,20.29000000,20.29000000,7980237
2026-01-28,20.66000000,23.31500000,20.42000000,22.81000000,22.81000000,16888770
2026-01-29,22.70500000,23.30000000,20.57200000,20.99000000,20.99000000,11534740
2026-01-30,20.43500000,21.60500000,18.50000000,18.99000000,18.99000000,10839819

===============================
2. Intraday Data via EODHDDataClient:
Shape: (316, 7)

,timestamp,gmtoffset,open,high,low,close,volume
datetime,,,,,,,
2026-01-30 20:40:00,1769805600,0,18.86000000,19.05990000,18.84499900,18.97010000,67065.00000000
2026-01-30 20:45:00,1769805900,0,18.96999900,19.07999900,18.96999900,19.04999900,63731.00000000
2026-01-30 20:50:00,1769806200,0,19.05999900,19.15999900,19.04450000,19.09000000,150545.00000000
2026-01-30 20:55:00,1769806500,0,19.09000000,19.15999900,18.97999900,18.97999900,449634.00000000
2026-01-30 21:00:00,1769806800,0,18.98999900,18.98999900,18.98999900,18.98999900,NaN

===============================
3.a. Live Price via EODHDDataClient (Single):
{
  "code": "LUNR.US",
  "timestamp": 1769808540,
  "gmtoffset": 0,
  "open": 20.435,
  "high": 21.605,
  "low": 18.5,
  "close": 18.99,
  "volume": 10770458,
  "previousClose": 20.99,
  "change": -2,
  "change_p": -9.5283
}
===============================
3.b. Live Prices via EODHDDataClient (Multiple):
[
  {
    "code": "LUNR.US",
    "timestamp": 1769808540,
    "gmtoffset": 0,
    "open": 20.435,
    "high": 21.605,
    "low": 18.5,
    "close": 18.99,
    "volume": 10770458,
    "previousClose": 20.99,
    "change": -2,
    "change_p": -9.5283
  },
  {
    "code": "NVDA.US",
    "timestamp": 1769808540,
    "gmtoffset": 0,
    "open": 191.21,
    "high": 194.49,
    "low": 189.47,
    "close": 191.13,
    "volume": 177206340,
    "previousClose": 192.51,
    "change": -1.38,
    "change_p": -0.7168
  }
]
===============================
4. WebSocket Streaming via EODHDDataClient:
Collected 137 messages over 10 seconds
[
  "{\"status_code\":200,\"message\":\"Authorized\"}",
  "{\"s\":\"BTC-USD\",\"p\":\"78828.4788\",\"q\":\"1\",\"dc\":\"-6.8652\",\"dd\":\"-5411.7161\",\"t\":1769938901901}",
  "{\"s\":\"ETH-USD\",\"p\":\"2424.417\",\"q\":\"1\",\"dc\":\"-11.6418\",\"dd\":\"-282.2454\",\"t\":1769938901925}"
]